<mat-toolbar color="primary"> Inscribir Club en Federación
    <span class="flex-spacer"></span>
   
    <button mat-button mat-dialog-close>&times;</button></mat-toolbar>
      
      <!--<p>{{ usuario | json }}</p>-->
      
      
      <form novalidate #formularioInscribirClubFederacion="ngForm" (ngSubmit)="onSubmit()">
      
     
      <br>
      <div class="row">
        <div class="col-md-10">
            <p style="font-size: 14; font-family: sans-serif; font-style: italic; font-weight: bold;">Seleccione la Federación</p>
            <select  name="federacion" class="select-css" [(ngModel)] = "federacion.nombre"> 
            <option *ngFor="let elemento of vFederaciones">{{elemento.nombre}}</option>
            </select>
        </div></div>
        <br>
       
          <div class="row">
            <div class="col-md-3">
                <p style="font-size: 14; font-family: sans-serif; font-style: italic; font-weight: bold;">Seleccione el club a inscribir</p>
                <select  name="club" [(ngModel)] = "club.nombre"> 
                
                      <option *ngFor="let club of vClubes">{{club.nombre}}</option>
                
                   </select>
            </div>
          </div>

         
        <mat-dialog-actions>
      
          <span class="flex-spacer"></span>
      
          <button mat-button mat-dialog-close>Cancelar</button>
      
          <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="formularioInscribirClubFederacion.form.invalid">Inscribir Club</button>
      
        </mat-dialog-actions>
      </form>

