<mat-toolbar color="primary"> Inscribir Club en Federación
    <span class="flex-spacer"></span>
   
    <button mat-button mat-dialog-close>&times;</button></mat-toolbar>
      
      <!--<p>{{ usuario | json }}</p>-->
      
      
      <form novalidate #formularioInscribirClubFederacion="ngForm" (ngSubmit)="onSubmit()">
      
     
      <br>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Federación</mat-label>
            <mat-select [(ngModel)]="federacion.nombre_federacion" name="federacion" required >
              <mat-option style="color: black;" *ngFor="let elemento of vFederaciones" [value]="elemento.nombre_federacion">{{elemento.nombre_federacion}} 
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
        <br>
       
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Club</mat-label>
              <mat-select formControlName="club" name="club"  required>
                <mat-option style="color: black;" *ngFor="let club of vClubes" [value]="club.nombre">{{club.nombre}} 
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

         
        <mat-dialog-actions>
      
          <span class="flex-spacer"></span>
      
          <button mat-button mat-dialog-close>Cancelar</button>
      
          <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="formularioInscribirClubFederacion.form.invalid">Inscribir Club</button>
      
        </mat-dialog-actions>
      </form>

