<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <div fxFlex>
            <div>
               <h3>Nosotros</h3>
               <hr>
            </div>
     </div>

      <div fxFlex>
        <div fxLayout="column" fxLayout.gt-sm="row">
          <div fxFlex="70">
              <h2>Nuestra Historia</h2>
              <p>Somos Alberto Gaspar, Alejandro Huete y Alejandro Reyes, un grupo de tres alumnos del Máster TWCAM que han desarrollado esta aplicación la cual permite gestionar torneos de ajedrez, federaciones y clubes.</p>
              
          </div>
          
        </div>
      </div>
        <div fxFlex>
          <h2>Personal</h2>
          <p>Mostrar el personal aquí</p>
       </div>
</div>