<mat-toolbar color="primary"> Alta Jugador
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button></mat-toolbar>
      
      <!--<p>{{ usuario | json }}</p>-->
      
      
      <form novalidate [formGroup]="consultaForm" >
      
      
        <mat-dialog-content>
      
          <p>
      
            <mat-form-field>
      
              <input matInput placeholder="Nombre:" type="text" formControlName="nombre" name="nombre"  required>
              <mat-hint>
                <span [hidden]="!(erroresForm.nombre)">
                  {{erroresForm.nombre}}</span> 
                
                </mat-hint>
      
            </mat-form-field>
      
      
            <mat-form-field>
      
              <input matInput placeholder="Apellido" type="text" formControlName="apellido" name="apellido"  required>
              <mat-hint>
                <span [hidden]="!(erroresForm.apellido)">
                  {{erroresForm.apellido}}</span>
                
                </mat-hint>
      
            </mat-form-field>

            <mat-form-field>
      
                <input matInput placeholder="Edad" type="number" formControlName="edad" name="edad"  required>
                <mat-hint>
                  <span [hidden]="!(erroresForm.edad)">
                    {{erroresForm.edad}}</span>
                  
                  </mat-hint>
        
              </mat-form-field>

            
              <mat-form-field appearance="fill">
                <mat-label>Club</mat-label>
                <mat-select formControlName="club" name="club"  required >
                  <mat-option style="color: black;" *ngFor="let elemento of vClubes" [value]="elemento.nombre">{{elemento.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="categoria" name="categoria"  required >
                  <mat-option style="color: black;" *ngFor="let elemento of vCategorias" [value]="elemento">{{elemento}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
             
        

              <mat-form-field>
              <input matInput placeholder="User" type="text" formControlName="user" name="user"  required>
              <mat-hint>
                <span [hidden]="!(erroresForm.user)">
                  {{erroresForm.user}}</span>
                
                </mat-hint>
      
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Password" type="text" formControlName="password" name="password"  required>
                <mat-hint>
                  <span [hidden]="!(erroresForm.password)">
                    {{erroresForm.password}}</span>
                  
                  </mat-hint>
        
              </mat-form-field>

              <mat-form-field *ngIf="jugador.edad<18">
                <input matInput placeholder="Responsable menor" type="text" formControlName="responsable" name="responasble" >
                <mat-hint>
                  
                  </mat-hint>
        
              </mat-form-field>
      
              
      
        </mat-dialog-content>
      
      
        <mat-dialog-actions>
      
          <span class="flex-spacer"></span>
      
          <button mat-button mat-dialog-close>Cancelar</button>
      
          <button type="submit" mat-button class="background-primary text-floral-white" (click)="onSubmit()" [disabled]="consultaForm.invalid">Alta</button>
      
        </mat-dialog-actions>
      </form>
