<mat-toolbar color="primary"> Multa Jugador
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button></mat-toolbar>
      
      <!--<p>{{ usuario | json }}</p>-->
      
      
      <form novalidate [formGroup]="multaForm">
      
      
        <mat-dialog-content>
              <mat-form-field appearance="fill">
                <mat-label>Jugador</mat-label>
                <mat-select formControlName="jugador" name="jugador"  required>
                  <mat-option style="color: black;" *ngFor="let elemento of vJugadores" [value]="elemento.nombre">{{elemento.nombre}} {{elemento.apellido}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field appearance="fill">
                <mat-label>Importe Multa</mat-label>
                <input matInput  placeholder="Multa" type="number" formControlName="multa" name="multa"  required>
                <mat-hint>
                  <span [hidden]="!(multaForm.multa)">
                    {{erroresForm.multa}}</span>
                  
                  </mat-hint>
        
              </mat-form-field>
      
              
      
        </mat-dialog-content>
      
      
        <mat-dialog-actions>
      
          <span class="flex-spacer"></span>
      
          <button mat-button mat-dialog-close>Cancelar</button>
      
          <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="multaForm.invalid">Multar</button>
      
        </mat-dialog-actions>
      </form>
