<mat-toolbar color="primary"> Login
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close (click)="close()">&times;</button></mat-toolbar>
    
    <!--<p>{{ usuario | json }}</p>-->
    
    
    <form novalidate [formGroup]= "loginForm" >
    
    
      <mat-dialog-content>
    
        <p>
    
          <mat-form-field>
    
            <input matInput formControlName="nombre" placeholder="Nombre de Usuario" type="text"  name="nombre"  required>
            <mat-hint>
              <span [hidden]="!(erroresForm.nombre)">
                {{erroresForm.nombre}}</span> 
              </mat-hint>
    
          </mat-form-field>
    
    
          <mat-form-field>
    
            <input matInput formControlName="password" placeholder="Password" type="password"  name="password" required>
            <mat-hint>
              <span [hidden]="!(erroresForm.password)">
                {{erroresForm.password}}</span> 
              </mat-hint>
    
          </mat-form-field>
    
    
          <mat-checkbox formControlName="nocerrar" name="nocerrar">No cerrar sesión</mat-checkbox>
    
        </p>

        
    
      </mat-dialog-content>
    
    
      <mat-dialog-actions>
    
        <span class="flex-spacer"></span>
    
        <button mat-button mat-dialog-close (click)="close()">Cancelar</button>
    
        <button type="submit" mat-button class="background-primary text-floral-white"  [disabled]="loginForm.invalid" (click)="onSubmit()">Login</button>
    
      </mat-dialog-actions>
    </form>
