<mat-toolbar color="primary"> Cambio de Club
    <span class="flex-spacer"></span>
   
    <button mat-button mat-dialog-close>&times;</button></mat-toolbar>
      
      <!--<p>{{ usuario | json }}</p>-->
      
      
      <form novalidate [formGroup]="consultaForm" >
      
     
      <br>
        <div>
            <mat-form-field appearance="fill">
              <mat-label>Jugador</mat-label>
              <mat-select formControlName="jugador" name="jugadorSeleccionado" (selectionChange)="onChange()" required >
                <mat-option style="color: black;" *ngFor="let elemento of vJugadores" [value]="elemento.id">{{elemento.nombre}} {{elemento.apellido}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <br>
       
          <div>

            Club de Origen: {{jugadorSeleccionado.club.nombre}}
                
            </div>
            <br>
            <div>
              <mat-form-field appearance="fill">
               <mat-label>Club Destino</mat-label>
               <mat-select formControlName="club2" name="club" required >
                 <ng-container  *ngFor="let elemento of vClubes">
                <mat-option style="color: black;" *ngIf="elemento.nombre!=jugadorSeleccionado.club.nombre" [value]="elemento.nombre" >{{elemento.nombre}}
                </mat-option>
              </ng-container>
              </mat-select>
             </mat-form-field>
       </div>

         
        <mat-dialog-actions>
      
          <span class="flex-spacer"></span>
      
          <button mat-button mat-dialog-close>Cancelar</button>
      
          <button type="submit" mat-button class="background-primary text-floral-white"  [disabled]="consultaForm.invalid" (click)="onSubmit()">Cambiar Club</button>
      
        </mat-dialog-actions>
      </form>
