<mat-toolbar color="primary"> Cambio de Club
    <span class="flex-spacer"></span>
   
    <button mat-button mat-dialog-close>&times;</button></mat-toolbar>
      
      <!--<p>{{ usuario | json }}</p>-->
      
      
      <form novalidate [formGroup]="consultaForm" >
      
     
      <br>
        <div>
            <mat-form-field appearance="fill">
              <mat-label>Jugador</mat-label>
              <mat-select formControlName="jugador" name="jugadorSeleccionado" (selectionChange)="onChange()" required >
                <mat-option style="color: black;" *ngFor="let elemento of vJugadores" [value]="elemento.id">{{elemento.nombre}} {{elemento.apellido}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <br>
       
          <div>

                   <mat-form-field appearance="fill">
                    <mat-label>Club Origen</mat-label>
                    <mat-select formControlName="club1" name="club"  value="{{jugadorSeleccionado.club.nombre}}">
                      <mat-option style="color: black;" *ngFor="let elemento of vClubes" [value]="elemento.nombre" >{{elemento.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div>

              <mat-form-field appearance="fill">
               <mat-label>Club Destino</mat-label>
               <mat-select formControlName="club2" name="club" required >
                <mat-option style="color: black;" *ngFor="let elemento of vClubes" [value]="elemento.nombre" >{{elemento.nombre}}
                </mat-option>
              </mat-select>
             </mat-form-field>
       </div>

         
        <mat-dialog-actions>
      
          <span class="flex-spacer"></span>
      
          <button mat-button mat-dialog-close>Cancelar</button>
      
          <button type="submit" mat-button class="background-primary text-floral-white"  [disabled]="consultaForm.invalid" (click)="onSubmit()">Cambiar Club</button>
      
        </mat-dialog-actions>
      </form>
