<mat-toolbar color="primary"> Reserva Entrenamiento
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button></mat-toolbar>
<br>
    <p>Seleccione el día de reserva</p>
    <form novalidate #formularioReservaEntrenamiento="ngForm" (ngSubmit)="onSubmit()"></form>
    <input matInput [(ngModel)]="fecha_reserva" [matDatepicker]="picker" placeholder="Pick a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <p>Seleccione la hora de reserva</p>
    <mat-form-field>
        <input matInput type="time" class="bg-none" formControlName="_time" min="09:00" max="18:00"placeholder="Hora de reserva">
      </mat-form-field>

    <mat-dialog-actions>
      
        <span class="flex-spacer"></span>
    
        <button mat-button mat-dialog-close>Cancelar</button>
    
        <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="formularioReservaEntrenamiento.form.invalid" (click)="onSubmit()">Reserva</button>
    
      </mat-dialog-actions>