<mat-toolbar color="primary"> Añadir Partida a Torneo
    <span class="flex-spacer"></span>
   
    <button mat-button mat-dialog-close>&times;</button></mat-toolbar>
      
      <!--<p>{{ usuario | json }}</p>-->
      
      
      <form novalidate #formularioAsignarPartidaTorneo="ngForm" (ngSubmit)="onSubmit()">
      <br>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Torneo</mat-label>
            <mat-select [(ngModel)]="torneo" name="torneo" required >
              <mat-option style="color: black;" *ngFor="let elemento of vTorneos" [value]="elemento">{{elemento.nombre}} 
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
        <br>
        <div>
            <mat-form-field appearance="fill">
              <mat-label>Partida</mat-label>
              <mat-select [(ngModel)]="partida" name="Partida" required >
                <mat-option style="color: black;" *ngFor="let elemento of vPartidas"  [value]="elemento"> Partida {{elemento.id}}  {{elemento.jugadorBlancas.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
          
        <mat-dialog-actions>
          <span class="flex-spacer"></span>
          <button mat-button mat-dialog-close>Cancelar</button>
          <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="formularioAsignarPartidaTorneo.form.invalid">Agregar Partida</button>
        </mat-dialog-actions>
      </form>

