<mat-toolbar color="primary"> Detalle Jugador
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button></mat-toolbar>
 

<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
      <mat-list>
          <div>
              <mat-card class="card">
                  <mat-card-title>
                      Jugador:  {{jugador.nombre}}  {{jugador.apellido}}
                  </mat-card-title>
                  <mat-card-subtitle>
                      Edad:{{jugador.edad}} 
                  </mat-card-subtitle>
                  <mat-card-subtitle>
                      Categoría:{{jugador.categoria}} 
                </mat-card-subtitle>
                <mat-card-subtitle>
                  Club:{{jugador.club.nombre}} 
                </mat-card-subtitle>
                <mat-card-subtitle>
                  Multa:{{jugador.multa}} Euros 
                </mat-card-subtitle>

              </mat-card>
              <br>
              </div>
      </mat-list>
  </div>

  
  <mat-dialog-actions>
    
    <span class="flex-spacer"></span>


    <button type="submit" mat-button class="background-primary text-floral-white" (click)="onSubmit()">Volver a lista Jugadores</button>

  </mat-dialog-actions>

</div>





