<mat-toolbar color="primary"> Baja Jugador
    <span class="flex-spacer"></span>
   
    <button mat-button mat-dialog-close>&times;</button></mat-toolbar>
      
      <!--<p>{{ usuario | json }}</p>-->
      
      
      <form novalidate #formularioBajaJugador="ngForm" (ngSubmit)="onSubmit()">
      
     
        <p>
          <!-- Seleccionado. id == El elemento que selecciona el usuario y el campo id-->
            <select  name="jugadorSeleccionado" class="select-css" [(ngModel)] = "jugadorSeleccionado.id"> 
            <option *ngFor="let elemento of vJugadores">{{elemento.nombre}} {{elemento.apellido}} - ID: {{elemento.id}}</option>
            </select>
            </p>
        
        <mat-dialog-actions>
      
          <span class="flex-spacer"></span>
      
          <button mat-button mat-dialog-close>Cancelar</button>
      
          <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="formularioBajaJugador.form.invalid">Cursar Baja</button>
      
        </mat-dialog-actions>
      </form>
