<mat-toolbar color="primary"> Baja Jugador
    <span class="flex-spacer"></span>
   
    <button mat-button mat-dialog-close>&times;</button></mat-toolbar>
      
      <!--<p>{{ usuario | json }}</p>-->
      
      
      <form novalidate #formularioBajaJugador="ngForm" (ngSubmit)="onSubmit()">
      
     <br><br>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Jugador</mat-label>
            <mat-select [(ngModel)]="jugadorSeleccionado.nombre" name="jugadorSeleccionado" required >
              <mat-option style="color: black;" *ngFor="let elemento of vJugadores" [value]="elemento.nombre">{{elemento.nombre}} {{elemento.apellido}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
        
        <mat-dialog-actions>
      
          <span class="flex-spacer"></span>
      
          <button mat-button mat-dialog-close>Cancelar</button>
      
          <button type="submit" mat-button class="background-primary text-floral-white" (click)="onSubmit()" [disabled]="formularioBajaJugador.form.invalid">Cursar Baja</button>
      
        </mat-dialog-actions>
      </form>
